<section class="section-about">
    <h2>What Do We Want to Achieve?</h2>
    <div class="container" id="waypoint">
        <div class="col-xs-12 col-sm-4">
            <i class="fa fa-users"></i>
            <p>Elit eiusmod tempor qui est voluptate qui sint id sunt reprehenderit exercitation et excepteur ullamco. Labore proident nisi pariatur ex do nostrud. Ea sit ex quis ex adipisicing dolore minim nulla nulla magna laboris. Excepteur proident mollit
                voluptate sint dolor. Quis Lorem commodo velit sit qui tempor non excepteur amet.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <i class="fa fa-home"></i>
            <p>Elit eiusmod tempor qui est voluptate qui sint id sunt reprehenderit exercitation et excepteur ullamco. Labore proident nisi pariatur ex do nostrud. Ea sit ex quis ex adipisicing dolore minim nulla nulla magna laboris. Excepteur proident mollit
                voluptate sint dolor. Quis Lorem commodo velit sit qui tempor non excepteur amet.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <i class="fa fa-car"></i>
            <p>Elit eiusmod tempor qui est voluptate qui sint id sunt reprehenderit exercitation et excepteur ullamco. Labore proident nisi pariatur ex do nostrud. Ea sit ex quis ex adipisicing dolore minim nulla nulla magna laboris. Excepteur proident mollit
                voluptate sint dolor. Quis Lorem commodo velit sit qui tempor non excepteur amet.</p>
        </div>
    </div>
</section>