div p {
    padding: 0 5px;
}

i {
    font-size: 500%;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
    color: orange;
}

.container {
    margin-top: 10rem;
    margin-bottom: 5rem;
}