.jumbotron {
    background-color: transparent;
    color: white;
    text-align: center;
}

.jumbotron .btn:first-of-type {
    margin-right: 1rem;
}

.jumbotron p {
    margin-top: 30px;
}

.button-container {
    margin-top: 20px;
}

.jumbotron .btn {
    margin-bottom: 1rem;
}

#logo {
    font-size: 2000%;
}

// Media Queries
$small: "only screen and (max-width:640px)";
$middle: "only screen and (min-width:641px) and (max-width:959px)";
$large: "only screen and (min-width:960px)";
@media #{$small} {
    //640px
    #logo {
        font-size: 1000%;
    }
}

@media #{$middle} {
    //641px〜959px
}

@media #{$large} {
    //960px
}