nav {
    background-color: transparent;
    border: none;
    width: 100%;
}

.nav-link {
    color: #ccc !important;
    border-bottom: 3px solid transparent;
    transition: color .2s, border-bottom-color .2s;
    font-size: 150%;
}

.nav-link:hover {
    color: white !important;
    border-bottom-color: orange;
}

.title {
    font-size: 250%;
    color: white;
    font-family: 'Alex Brush', cursive;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

// Media Queries
$small: "only screen and (max-width:640px)";
$middle: "only screen and (min-width:641px) and (max-width:959px)";
$large: "only screen and (min-width:960px)";
@media #{$small} {
    //640px
    .title {
        font-size: 160%;
    }
}

@media #{$middle} {
    //641px〜959px
    .title {
        font-size: 200%;
    }
}

@media #{$large} {
    //960px
}