<section class="section-gallery">
    <h2>Check out some of the artwork</h2>
    <div class="container">
        <ul class="gallery-showcase clearfix">
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
        </ul>
        <ul class="gallery-showcase clearfix">
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
        </ul>

        <ul class="gallery-showcase clearfix">
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
            <li>
                <figure class="gallery-image">
                    <img src="assets/images/j-bg.jpg" alt="some pic">
                </figure>
            </li>
        </ul>
    </div>
</section>